<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Our School Database</h1>
    <a href="/subjects">Subjects Data</a><br>
    <a href="/teachers">Teachers Data</a><br>
    <a href="/students">Students Data</a><br>
  </body>
  <br>
  
  <br>
  <a href="/logout"><button type="button"> LOGOUT </button></a>
</html>
