<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Our School Database</title>
  </head>
  <body>
    <h1> Our School Database </h1>
    <p>Please Login First</p>
    <form action="/" method="post">
      <fieldset>
        <input type="text" name="username" value=""placeholder="Please input Username">
        <input type="text" name="password" value=""placeholder="Please input Password">
        <button type="submit"> LOGIN </button><br>
      </fieldset>
    </form>
  </body>
</html>
